{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1 class="mb-5">Symfony sandbox</h1>
            <ul>
                <li><a href="{{ path('app_async_index') }}">Messenger component</a></li>
                <li><a href="{{ path('app_twig_component') }}">Twig component</a></li>
                <li><a href="{{ path('app_live_component') }}">Live component (simple)</a></li>
                <li><a href="{{ path('app_invoice') }}">Live component - Invoice example</a></li>
                <li><a href="{{ path('app_form') }}">Forms</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
